<footer class="footer">
  <span class="title">
    <b><a href="/">constant beta software</a></b>
  </span>

  <span class="disclaimer">
    <a href="{{ "/2015/12/01/hello-world.html" | prepend: site.baseurl }}">disclaimer</a>
  </span>
  ·
  <span class="services">
    <a href="{{ "/2015/12/02/hire-me.html" | prepend: site.baseurl }}">services</a>
  </span>
  ·
  <span class="contact">
    <a href="mailto:contact@constantbetasoftware.com">contact</a>
  </span>
  ·
  <span class="rss-subscribe">
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">rss</a>
  </span>
  ·
  <span class="copyright">
    Established in 2015 © constant beta software
  </div>
</footer>
