<!DOCTYPE html>
<html>

<head>
  {% include head.html %}

  <title>
    {{ site.title_short }}
  </title>

  <meta name="description" content="{{ site.description }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title_full }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>

<body>
  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% include ga.html %}
</body>
</html>
