<!DOCTYPE html>
<html>

<head>
  {% include head.html %}

  <title>
    {{ page.title }} • {{ site.title_short }}
  </title>

  <!-- facebook open graph -->
  <meta property="og:site_name"      content="{{ site.title_full }}" />
  <meta property="og:type"           content="article" />
  <meta property="og:url"            content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:title"          content="{{ page.title }}" />
  <meta property="og:description"    content="{{ page.excerpt | strip_html | strip_newlines | truncatewords: 100 }}" />

  <!-- twitter cards -->
  <meta name="twitter:domain"        content="{{ site.url }}" />
  <meta name="twitter:title"         content="{{ page.title }}" />
  <meta name="twitter:description"   content="{{ page.excerpt | strip_html | strip_newlines | truncatewords: 100 }}" />
  <meta name="twitter:url"           content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

  <meta name="description"           content="{{ page.excerpt | strip_html | strip_newlines | truncatewords: 100 }}" />

  <link rel="stylesheet" href="/resources/styles/needsharebutton.min.css">
</head>

<body>
  <div class="page-content">
    <div class="wrapper">
      <div class="post">
        <div class="back-to-index-wrapper">
          <a href="/" class="back-to-index">
            back to index
          </a>
        </div>

        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>

          <p class="post-meta">
            <span class="post-meta-elem post-share" id="share" data-share-position="middleRight" data-share-icon-style="box" data-share-networks="Mailto,Twitter,Facebook,Linkedin">
            </span>
            ·
            <span class="post-meta-elem post-chars">
              {% assign wordCount = page.content | strip_html | number_of_words %}
              {% assign numMins = wordCount | divided_by: 200 | plus: 1 %}
              {{wordCount}} words, ~ {{numMins}} {% if numMins > 1 %}mins{% else %}min{% endif %} read
            </span>
            ·
            <span class="post-meta-elem post-date">
              {{ page.date | date: "%b %-d, %Y" }}
            </span>
          </p>
        </header>

        <article class="post-content">
          {{ content }}
        </article>

        {% include footer.html %}
      </div>
    </div>
  </div>

  {% include ga.html %}

  <script src="/resources/scripts/needsharebutton.min.js"></script>
  <script>
    new needShareDropdown(document.getElementById('share'));
  </script>
</body>
</html>
